@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.clearInput input::-webkit-outer-spin-button,
.clearInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.clearInput input[type="number"] {
  -moz-appearance: textfield;
}
